/************* IMPOSTAZIONI GENERALI *************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    padding: 5% 2%;
    color: rgba(133,133,133,255);
}
button {
    background-color: rgba(0,97,255,255);
    border: none;
    padding: 0.5rem 1rem;
    color: white;
}

button > a {
    color: white;
}

.margin-top {
    margin-top: 2rem;
}

.color-gray {
    color: gray;
}

/************* DEBUG *************/
/* section {
    height: 50rem;
} */

/************* IMPOSTAZIONI SPECIFICHE *************/
/************* HEADER *************/
header {
    background-color: white;
    width: 100%;
    position: fixed;
    padding: 3vh 1vw;
    z-index: 1;
}

.nav-header-left {
    flex: 1 0 auto;
}

.nav-header-right {
    flex: 1 0 auto;
    text-align: end;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
}

.fa-dropbox {
    color: rgba(0,97,255,255);
}

/************* MAIN *************/
/************* SECTION 1 *************/

.first-part {
    height: 100vh;
    background-color: rgba(180,208,231,255);
    padding: 20vh 20vw 0 20vw;
}

.first-part > h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.column-left > button {
    margin: 1rem 0;
    width: 61%;
}

.column-right {
    background-color: blue;
    flex: 1 0 50%;
}

.first-part > .container-row {
    align-items: start;
}

.delete {
    display: block;
    color: black;
    margin-bottom: 3rem;
}

.fa-arrow-down {
    font-size: 2rem;
    margin: 1rem;
}

/************* SECTION 2 *************/

.second-part {
    /* background-color: green; */
    margin-top: 5rem;
    padding: 10vh 25vw ;
}

h2 {
    font-size: 2rem;
}

.slc-plane {
    margin: 2rem 0;
}

/* [name="slc-plane-a"] {
    margin-left: 2rem;
} */

/* .second-part > .container-row {
    background-color: red;
} */

/************* PARTE FLEX SECTION 2 *************/
.business {
    align-items: flex-start;
    flex-wrap: wrap;
}

.business > div {
    width: calc(100% / 3 - 0.5rem);
    border: 2px solid gray;
}



.business-plan-team-agency {
    border: 2px solid gray;
}

.business-plan-single > p,
.business-plan-team > p,
.business-plan-agency > p,
.business-plan-team-agency > p {
    border: 1px solid gray;
    text-align: center;
    padding: 0.5rem 0;
}

.second-part p {
    font-size: 0.9rem;
}

.business h3 {
    font-size: 1.3rem;
}

.business i {
    margin: 0 0.5rem;
}

.bss-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.bss-description > p {
    display: flex;
    align-items: flex-start;
}

.border-bottom {
    border-bottom: 1px solid grey;
    padding: 2rem 0;  
}

.buy {
    text-decoration: underline;
    color: blue;
    padding: 2rem 0.5rem;
}

.fa-check {
    color: blue;
}

.business-plan-team-agency > .bss-description {
    width: 70%;   
}

.business-plan-team-agency {
    position: relative;
}

.business-plan-team-agency > button {
    position: absolute;
    right: 1rem;
    top: 3rem;
}

/************* SECTION 3 *************/
.third-part {
    margin-top: 5rem;
    padding: 10vh 25vw;
}

.third-part p {
    margin: 1rem 0;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse > .column-left {
    padding-left: 1rem;
}

.reverse button {
    background-color: white;
    border: 1px solid black;
    width: 50%;
}

.reverse a {
    color: black;
}
/************* SECTION 4 *************/
.fourth-part {
    margin-top: 5rem;
    padding: 10vh 25vw;
}

.advice {
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 5rem;
}

.advice p {
    margin-top: 1rem;
}

.advice > div {
    margin-top: 1rem;
}

.info {
    width: calc(100% / 3 - 1rem);
}

.info > img {
    width: 100%;
}

.fourth-part h1 {
    margin-bottom: 3rem;
}

.fourth-part a {
    text-decoration: underline;
    color: blue;
    padding-left: 0;
}

/************* SECTION 5 *************/
.fifth-section {
    background-color: orange;
    margin-top: 5rem;
}

.fifth-section > .container-row {
    align-items: flex-start;
}

.column-left-company,
.column-right-company{
    flex-wrap: wrap;
    background-color: red;
    width: calc(100% / 3);
}
.immagine {
    width: 50%;
    height: 200px;
}
.column-center-company {
    background-color: blue;
    flex: 0 1 calc(100% / 3);
}

.fifth-section > div:last-child {
    background-color: lightblue;
    padding: 10vh 25vw;
}
/************* SECTION 6 *************/
.sixth-section {
    background-color: green;
    margin-top: 5rem;
    padding: 10vh 25vw;
}

.question:hover .answer {
    display: block;
    background-color: white;
}

.answer {
    display: none;
}

/************* FOOTER *************/
footer {
    background-color: black;
    height: 20rem;
    padding: 10vh 20vw 5vh 20vw;
}
.end-page {
    align-items: flex-start;
}

.column-end {
    border: 2px solid white;
}

#slc-lenguage {
    margin: 3rem 0;
    padding-top: 2rem ;
    border-top: 1px solid white;
    display: inline-block;
}