/************* IMPOSTAZIONI GENERALI *************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    padding: 5% 2%;
    color: black;
}

button {
    padding: 1% 4%;
}

/************* DEBUG *************/
section {
    height: 50rem;
}

/************* IMPOSTAZIONI SPECIFICHE *************/
/************* HEADER *************/
header {
    background-color: green;
    width: 100%;
    position: fixed;
    padding: 3vh 1vw;
}

.nav-header-left {
    background-color: red;
    flex: 1 0 auto;
}

.nav-header-right {
    background-color: blue;
    flex: 1 0 auto;
    text-align: end;
}
/************* MAIN *************/
/************* SECTION 1 *************/

.first-part {
    height: 100vh;
    background-color: lightblue;
    padding: 20vh 20vw 0 20vw;
}

.first-part > h1 {
    background-color: red;
}

.first-part > .container-row {
    height: ;
    background-color: green;
}

.column-left {
    background-color: brown;
}

.column-right {
    background-color: blue;
    flex: 1 0 60%;
}

.first-part > .container-row {
    align-items: start;
}

.delete {
    display: block;
}

/************* SECTION 2 *************/

.second-part {
    background-color: green;
    margin-top: 5rem;
    padding: 10vh 25vw ;
}

.slc-plane {
    margin: 2rem 0;
}

/* [name="slc-plane-a"] {
    margin-left: 2rem;
} */

.second-part > .container-row {
    background-color: red;
}

/************* PARTE FLEX SECTION 2 *************/
.business {
    align-items: flex-start;
    flex-wrap: wrap;
}

.business-plan-single{
    width: calc(100% / 3 - 0.5rem);
    border: 2px solid gray;
}

.business-plan-team{
    width: calc(100% / 3 - 0.5rem);
    border: 2px solid gray;
}

.business-plan-agency{
    width: calc(100% / 3 - 0.5rem);
    border: 2px solid gray;
}

.business-plan-team-agency {
    border: 2px solid gray;
    flex: 1 1 100%;
    margin-top: 2rem;
}

h4 {
    border: 2px solid gray;
    text-align: center;
}

/************* SECTION 3 *************/
.third-part {
    background-color: purple;
    margin-top: 5rem;
    padding: 10vh 25vw;
}

.reverse {
    flex-direction: row-reverse;
}
/************* SECTION 4 *************/
.fourth-part {
    background-color: green;
    margin-top: 5rem;
    padding: 10vh 25vw;
}

.advice {
    flex-wrap: wrap;
    align-items: flex-start;
}

.advice > div {
    margin-top: 1rem;
}

/************* SECTION 5 *************/
.fifth-section {
    background-color: orange;
    margin-top: 5rem;
}

.fifth-section > .container-row {
    align-items: flex-start;
}

.column-left-company,
.column-right-company{
    flex-wrap: wrap;
    background-color: red;
    width: calc(100% / 3);
}
.immagine {
    width: 50%;
    height: 200px;
}
.column-center-company {
    background-color: blue;
    flex: 0 1 calc(100% / 3);
}

.fifth-section > div:last-child {
    background-color: lightblue;
    padding: 10vh 25vw;
}
/************* SECTION 6 *************/
/************* FOOTER *************/